.navbar_right {
   width: 100%;
   position: fixed;
   top: 0;
}
.navbar_left {
    width: 100%;
    position: fixed;
    top: 0;
}
.navbar_right li {
    float: right;
    list-style-type: none;
    padding: 10px;
    font-size: 18px;
    
}
.navbar_left li {
    float: left;
    list-style-type: none;
    padding: 10px;
    font-size:18px;
    
}

.google_image {
    width: 15%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    padding: 30px;
}
.searchbar {
    width: 28%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10em;
}
.icon {
    width: 27%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1.3%
}
.buttons {
    display: flex;
    position: center;
    justify-content: center;
    padding: 30px;
    width: auto;
}
.google_search {
    margin-inline: 7px;
    padding: 5px;
}
.lucky {
    margin-inline: 7px;
    padding: 5px;
}