.navbar {
   width: 100%;
   position: fixed;
   top: 0;
}
.navbar li {
    float: right;
    list-style-type: none;
    padding: 5px 20px;
    font-size: 18px;
}

.google_image {
    width: 10%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    padding: 20px;
}
.searchbar {
    width: 20%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10em;
}
